
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightblue;
    padding: 10px;
}

.row {
    margin: auto;
}

#field-canvas {
    padding-top: 20px;
    margin: auto;
    display: block;
}

#field-descr {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}