
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightblue;
    padding: 10px;
}

.row {
    margin: auto;
}

#field-view {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    padding-bottom: 24px;
}

#encoded-field {
    padding: 12px;
    font-size: 2em;
}

#field-canvas {
    padding-top: 20px;
    margin: auto;
    display: block;
    align-self: center;
}

#field-descr {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin-left: 32px;
}

.descr-paragraph {
    margin-bottom: 0
}